/ControleSociosClube/target/
/ControleSociosClube/nbproject/
/deploy/ControleSociosClube/nbproject/
/deploy/ControleSociosClube/target/
/deploy/SociosDB/target/
/deploy/SociosDB/nbproject/
/deploy/SociosCore/nbproject/private/
/deploy/SociosCore/target/